# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environments
venv/
env/
.env

# IDEs
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary Files
*.tmp

# log/
output/
data/
.cursorignore
